<div class="container">
  <form class="form">
    <table class="table-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="form-full-width">
            <input matInput placeholder="FB FullName">
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="form-full-width">
            <input matInput placeholder="FB UserId">
          </mat-form-field>
        </td>
      </tr>
    </table>

    <table class="table-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="form-full-width">
            <input matInput placeholder="Group Title">
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="form-full-width">
            <input matInput placeholder="Group URL">
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="form-full-width">
            <input matInput placeholder="Group ID">
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td align="right">
          <button mat-raised-button color="primary">Add</button>
        </td>
      </tr>
    </table>
  </form>
  <app-searchresult></app-searchresult>
</div>
